apiVersion: 1

datasources:
  - name: prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:{{ loadnet_prometheus_port | default(9090) }}
    isDefault: true
