---
- name: Stop Load testnet services
  hosts: all
  gather_facts: false
  become: true
  tasks:
    - name: Stop ultramarine instances
      ansible.builtin.systemd:
        name: "ultramarine@{{ item }}.service"
        state: stopped
      loop: "{{ loadnet_nodes }}"
      failed_when: false
    - name: Stop load-reth instances
      ansible.builtin.systemd:
        name: "load-reth@{{ item }}.service"
        state: stopped
      loop: "{{ loadnet_nodes }}"
      failed_when: false
    - name: Stop Grafana (monitoring)
      ansible.builtin.systemd:
        name: grafana.service
        state: stopped
      failed_when: false
    - name: Stop Prometheus (monitoring)
      ansible.builtin.systemd:
        name: prometheus.service
        state: stopped
      failed_when: false
