---
- name: Show service status
  hosts: all
  gather_facts: false
  become: true
  tasks:
    - name: Fetch Load-reth status
      ansible.builtin.command: "systemctl --no-pager --full status load-reth@{{ item }}.service"
      loop: "{{ loadnet_nodes }}"
      register: reth_status
      changed_when: false
      failed_when: false

    - name: Display Load-reth status
      ansible.builtin.debug:
        var: reth_status.results

    - name: Fetch Ultramarine status
      ansible.builtin.command: "systemctl --no-pager --full status ultramarine@{{ item }}.service"
      loop: "{{ loadnet_nodes }}"
      register: ultra_status
      changed_when: false
      failed_when: false

    - name: Display Ultramarine status
      ansible.builtin.debug:
        var: ultra_status.results
