---
- name: Show service status
  hosts: all
  gather_facts: false
  become: true
  tasks:
    - name: Gather service facts
      ansible.builtin.service_facts:

    - name: Display load-reth status
      ansible.builtin.debug:
        msg: >-
          load-reth@{{ item }}.service:
          {{
            (ansible_facts.services['load-reth@' + item + '.service'] | default({})).state
            | default('unknown')
          }}
      loop: "{{ loadnet_nodes }}"

    - name: Display ultramarine status
      ansible.builtin.debug:
        msg: >-
          ultramarine@{{ item }}.service:
          {{
            (ansible_facts.services['ultramarine@' + item + '.service'] | default({})).state
            | default('unknown')
          }}
      loop: "{{ loadnet_nodes }}"
